@page "/CreateSession"
@using Microsoft.AspNetCore.Http.Extensions
@using WhatIf.Core.Services
@using WhatIf.Web.Models

@inject IPlayerService PlayerService
@inject ISessionService SessionService
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStore


<h1>Create session</h1>

@if (_isCreating)
{
    <h3 class="mat-subtitle1">Creating game: @name</h3>
    <MatProgressBar Progress="@Progress"></MatProgressBar>
}
else
{
    <p><MatTextField @bind-Value="@name" Label="Nickname"></MatTextField></p>
    <p><MatTextField @bind-Value="@sessionName" Label="Game name"></MatTextField></p>

    <MatButton OnClick="@Create">Create</MatButton>
}



@code {
    private string sessionName = "";
    private string name = string.Empty;
    private double _progress;
    private bool _isCreating;

    public bool IsCreating
    {
        get => _isCreating;
        set { _isCreating = value; StateHasChanged(); }
    }

    public double Progress
    {
        get => _progress;
        set { _progress = value; StateHasChanged(); }
    }

    private async Task Create()
    {
        Progress = 0;
        IsCreating = true;
        try
        {
            var session = await SessionService.Create(sessionName);
            Progress = 0.2;
            if (session is null)
                return;

            var player = await PlayerService.Create(name, session.Id);
            Progress = 0.4;
            await SessionService.SetGameMaster(session.Id, player.Id);
            Progress = 0.7;

            var playerSessionState = new SessionPlayerState { SessionId = session.Id, PlayerId = player.Id, IsGameMaster = true };
            await ProtectedSessionStore.SetAsync("state", playerSessionState);
            Progress = 1;

            NavigationManager.NavigateTo($"sessionlobby");
        }
        finally
        {
            IsCreating = false;
        }


    }
}
