<MatThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <MatToastContainer />
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"  />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</MatThemeProvider>

@code
{

    readonly MatTheme theme = new MatTheme()
    {
        Primary = "#312F5E",
        Secondary = MatThemeColors.BlueGrey._500.Value
    };
}